  .navbar-nav>li>a,
  .navbar-brand {
      height: 50px;
      margin: 5;
      padding: 0;
      margin-right: 30px;
  }

  .navbar {
      min-height: 60px !important;
      background-color: #565a5c;
      color: #ced1cc;
      border: none;
      padding-top: 5px;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }

  .navbar-form {
      display: inline-block;
  }

  body {
      padding-top: 70px;
     
  }

  .profile-circle {
      border-radius: 50%;
      margin-right: 5px;
  }

  img {
      max-width: 100%;
      max-height: 100%;
  }

  .logo {
      margin-left: 30px;
      margin-top: 5px;
      height: auto;
      width: auto;
      max-width: 80px;
      max-height: 80px;
  }

  .img-poster img {
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 15px;
  }

  .img-comment-list {
      list-style: none;
      padding: 0;
  }

  .img-comment-list li {
      margin: 0;
      margin-top: 10px;
  }

  .img-comment-list p {
      margin: 0;
  }

  .img-comment-list span {
      font-size: .8em;
      color: #aaa;
  }

  .sidenav {
      clear: right;
  }

  #replyComments {
      padding-left: 10px;
  }

  #replyCommentComments {
      padding-left: 10px;
  }

  footer {
      padding-top: 20px;
  }

  .clearfix {
      padding-bottom: 10px;
  }

  a {
      text-decoration: none;
  }

  a:hover {
      text-decoration: none;
  }

  .posts {
      padding: 5px;
      height: 100%;
      clear: right;
  }

  .individualPost {
      padding: 10px;
      margin: auto;
      margin-bottom:20px;
      
      box-shadow: 1px 1px 10px #888888;
      width:70%;
  }

  #commentExpand {
      padding-left: 10px;
  }

  .postedImage {
      text-align: center;
  }

  html,
  body {
      height: 100%;
  }

  .reactButton{
        height: auto;
      width: auto;
      max-width: 20px;
      max-height: 20px;
  }

  .createPost{
       padding: 10px;
      margin: auto;
      margin-bottom:20px;
      box-shadow: 1px 1px 10px #888888;
      width:70%;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.panel-title{
    padding-top: 7.5px;
}

.photoButton {
      box-shadow: 1px 1px 1px #888888;
      font-size: 30px;
}
  
.postList {
    font-size:20px;
}

.profilePagePic{
    height:150px;
    width: 150px;
}

.profIMG {
    display:inline-block;
    width:200px;
    height:200px;
}

.imagetiles, .col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding-top: 20px;
 
 
}

.profilePosts{
    padding: 10px;
      margin: auto;
      margin-bottom:20px;
      text-align: left;
      box-shadow: 1px 1px 10px #888888;
}
  
#commentExpand{
    font-size: 12px;
}


.dropdown { 
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    position: relative;
    float: right;
 }

.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 5px;
    border: 1px solid #AAA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #717780;
    line-height: 16px;
    text-decoration: none !important;
    background: white;
}

.dropdown input[type="checkbox"]:checked +  .dropdown_button {
    border: 1px solid #3B5998;
    color: white;
    background: #6D84B4;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    border-bottom-color: #6D84B4;
}

.dropdown input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #6B7FA7;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }

.dropdown .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background: white;
    margin-left: -118px;
    display: none;

}

.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown .dropdown_content li:hover {
    border-top-color: #3B5998;
    border-bottom-color: #3B5998;
    background: #6D84B4;
}

.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdown input[type="checkbox"]:checked ~ .dropdown_content { display: block }

.dropdown input[type="checkbox"] { display: none }