html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 40px;
}
.navbar {
    min-height:40px !important;
    background-color: #ced1cc;
    color:  #565a5c;
}

header
{
	background-color: red;
	border-radius: 1px;
	height: 50px;
}

nav
{
	background-color: #565a5c !important;
}

#logo
{
	height: 50px;
	width: 50px;
	display: inline;
}

#smallProfPic
{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	float: right;
	display: inline;
}

h1
{
	text-align: center;
}

p
{
	text-align: center;
}

