.navbar-nav>li>a,
.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    height: 40px;
}

.navbar {
    min-height: 40px !important;
    background-color: #ced1cc;
    color: #565a5c;
}

.profile-circle {
    border-radius: 50%;
    margin-right: 50px;
    padding-bottom: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    padding-bottom: 5px;
    margin-left: 50px;
}

body {
    padding-top: 70px;
    width: 80%;
    margin: auto;
}

.img-poster img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 15px;
}

.img-comment-list {
    list-style: none;
    padding: 0;
}

.img-comment-list li {
    margin: 0;
    margin-top: 10px;
}

.img-comment-list p {
    margin: 0;
}

.img-comment-list span {
    font-size: .8em;
    color: #aaa;
}

.sidenav {
    clear: right;
}

#replyComments {
    padding-left: 10px;
}

#replyCommentComments {
      padding-left: 10px;
}

footer {
    padding-top: 20px;
}

.clearfix {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.posts {
    padding: 5px;
    height: 100%;
}

.individualPost {
     padding:5px; 
     margin:10px;
    box-shadow: 1px 1px 10px #888888;
}

#commentExpand {
    padding-left: 10px;
}

.postedImage {
    text-align: center;
}