{
    "Auth0": {
        "Domain": "{{ domain }}",
        "ApiIdentifier": "{{ api_identifier }}",
        "PrivateClientId": " {{ clientId }} ",
        "PrivateClientSecret": "{{ client_secret }}"
    },
    "Cloudinary": {
        "CloudName": "{{ cloud_name }}",
        "Key": "{{ key }}",
        "Secret": "{{ secret }}"
    }
}
